<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecjtu.mapper.WeatherStationMapper">

    <select id="getCountStation" resultType="com.ecjtu.domain.DTO.StationCountDTO">
        SELECT
            station_city AS stationCity, COUNT(1) AS count
        FROM
            t_weather_station
        GROUP BY
            station_city
    </select>

    <select id="getCountStationType" resultType="com.ecjtu.domain.DTO.StationTypeCountDTO">
        SELECT
            station_type AS stationType, COUNT(1) AS count
        FROM
            t_weather_station
        GROUP BY
            station_type
    </select>

</mapper>