<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecjtu.mapper.WeatherDataMapper">
    <select id="getLatestDataForEachStation" resultType="com.ecjtu.domain.entity.WeatherData">
        SELECT *
        FROM t_weather_data
        WHERE is_handled = '1'
          AND data_collect_time IN (SELECT MAX(data_collect_time)
                                    FROM t_weather_data
                                    WHERE
            DATE (data_collect_time) = #{date}
        GROUP BY station_no)
    </select>

</mapper>